// -----------------------------------------------------------------------------
// Base header
// -----------------------------------------------------------------------------
.header {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 1em;
    border-bottom: 2px solid $border-color--accent;
    margin-bottom: 1em;
    &.header--styleguide {
        position: relative;
        display: block;
    }
    &.header--settings {
        border-bottom: 2px solid $border-color--settings;
        background: $background-color--settings;
        color: white;
        .dropdown {
          color: white;
            &:hover,
            &:active,
            &.dropdown--active {
                background: $green--dark;
            }
        }
    }
    .header-container {
        position: relative;
        max-width: 1170px;
        margin: 0 auto;
    }
    .header-logo {
        // padding: .2em;
        max-height: 3em;
    }
    .mobile-header__close-settings {
      button {
        &:hover,
        &:active {
          background: $green;
        }
        .icon {
          color: white;
        }
      }
      // margin-top: -1em;
    }
    .mobile-header__title {
      h4 {
        padding: 0;
        margin: .3em 1.2em 0 1em;
      }
    }
}
