<div class="{{class}}">
    {{#if logo}}
    <img src="{{logo}}" class="pull-left" alt="blabla"> {{/if}} 
    {{#if input}} {{#each input}} {{> partialInput }} {{/each}} {{/if}} {{#if nav}}
    <div class="col-xs-4">
        <ul class="nav nav--horizontal">
            {{#each properties}}
            <li>{{> link}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>
