
<div class="row header {{#if styleguide}}header--styleguide{{/if}} {{#if settings}}header--settings{{/if}}">
    <div class="header-container">
        <div class="col-xs-3">
          {{#unless settings}}
              {{#logo}}<a href="/"><img src="{{src}}" class="header-logo pull-left"></a>{{/logo}}
          {{/unless}}
        {{#if settings}}
          {{#if dropdown}}
            {{#if headerMobile}}
              {{#each dropdown}}
                <div class="pull-left"> {{> PartialDropdown}}</div>
              {{/each}}
            {{else}}
                {{#each dropdown}}
                    <div class="pull-left" id="settings-header__title"> {{> PartialDropdown}}</div>
                {{/each}}
             {{/if}}
          {{/if}}
        {{/if}}
        </div>
        <div class="col-xs-9">
            {{!-- {{#if input}} {{#input}} {{> PartialTextInput class="text-input__grey"}} {{/input}} {{/if}}  --}}
          {{#unless settings}}
            <div class="nav nav--horizontal pull-right">
            {{#if navItems}}
                {{#each navItems}}
                    {{> PartialNavItem}}
                {{/each}}
                {{#each navIcons}}
                    {{> PartialIcon}}
                {{/each}}
            {{/if}}
            </div>
            {{#if dropdown}}
                {{#each dropdown}}
                   <div class="pull-right"> {{> PartialDropdown}}</div>
                {{/each}}
            {{/if}}
          {{/unless}}
          {{#if settings}}
          <div class="nav nav--horizontal pull-right">
            <div class="mobile-header__close-settings"> {{>PartialButton class="naked-button--neutral" icon="icon-system-close" action='location.href="/";'}}</div>
          </div>
          <div class="pull-right mobile-header__title"> <h4>{{headerMobileNavTitle}} </h4></div>
          {{/if}}
        </div>
    </div>
</div>
{{#if settings}}
  <script type="text/javascript">
    $('.header-container').find($('.drop-nav').addClass('drop-nav--right'));
    var adminNavTitle;
    function settingsTitle() {
        adminNavTitle= $(location).attr('pathname').split('/')[2].replace(/\b[a-z]/g, function(letter) {
        return letter.toUpperCase();
        }) + ' ' + 'settings';
    };
    settingsTitle();
    $('#settings-header__title').find('.dropdown-item').html('<h4>' + adminNavTitle + '<h4>');
  </script>
{{/if}}
