
<div class="row header {{#if styleguide}}header--styleguide{{/if}}">
    <div class="header-container">
        <div class="col-md-3">
        {{#if logo}}
            {{#logo}}<a href="/"><img src="{{src}}" class="header-logo pull-left"></a>{{/logo}}
        {{/if}} 
        </div>
        <div class="col-md-6"> 
            {{!-- {{#if input}} {{#input}} {{> PartialTextInput class="text-input__grey"}} {{/input}} {{/if}}  --}}
        
        </div> 
        <div class="col-md-3">
            <div class="nav nav--horizontal pull-right">
            {{#if navItems}}
                {{#each navItems}}
                    <li>{{> PartialNavItem}}</li>                    
                {{/each}}
                {{#each navIcons}}
                    {{> PartialIcon}}
                {{/each}}
            {{/if}} 
            </div>
            {{#if dropdown}}
                {{#each dropdown}}
                   <div class="pull-right"> {{> PartialDropdown}}</div>
                {{/each}}                    
            {{/if}}
        </div>
    </div>
</div> 

