<div class="row {{class}}">
    {{#if logo}}
    <img src="{{logo}}" class="pull-left" alt="blabla"> {{/if}} 
    <div class="col-xs-6 col-md-8"> {{#each headerTextInput}} {{> PartialTextInput }} {{/each}} </div> {{#if nav}}
    <div class="col-xs-6 col-md-4">
        <ul class="nav nav--horizontal">
            {{#each properties}}
            <li>{{> link}}</li>
            {{/each}}
        </ul>
{{!-- <li class="dropdown">
Drop 
    <ul class="nav drop-nav">
        {{#each options}}{{> pDropdownOptions }}{{/each}}
    </ul>
</li> --}}
    </div>
    {{/if}}
        
  
      
</div>
