
<div class="row header {{class}}">
<div class="header-container">
    <div class="col-md-3">
    {{#if logo}}
    <img src="{{logo}}" class="pull-left" alt="blabla"> {{/if}} 
    </div>
    <div class="col-md-6"> {{#each headerTextInput}} {{> PartialTextInput }} {{/each}} </div> {{#if nav}}
    <div class="col-md-3">
        <ul class="nav nav--horizontal">
            {{#each navItems}}
            <li>{{> PartialNavItem}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
        </div>
     </div> 

