// $icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
// endbower

/* Base */

@import "../base/variables";
@import "../base/mixins";
@import "../base/color-palette";
@import "../base/typography";

/* Bootstrap grid */

// Core variables and mixins
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
// Core CSS
* {
    @include box-sizing(border-box);
}

*:before,
*:after {
    @include box-sizing(border-box);
}

// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
// Components
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pager";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/labels";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/wells";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";
// Components w/ JavaScript
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/carousel";
// Utility classes
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

/* Components */

@import '../components/app-bar/appbar';
@import '../components/alert/alert';
@import '../components/avatar/avatar';
@import '../components/appblock/appblock';
@import '../components/button/button';
@import '../components/composer/composer';
@import '../components/dialog/dialog';
@import '../components/dropdown/dropdown';
@import '../components/eventpostit/eventpostit';
@import '../components/form/form';
@import '../components/header/header';
@import '../components/icon/icon';
@import '../components/image/image';
@import '../components/modal/modal';
@import '../components/nav/nav';
@import '../components/partials/partials';
@import '../components/postitactionbar/postitactionbar';
@import '../components/select/select';
@import '../components/text-area/textArea';
@import '../components/text-input/textInput';
@import '../components/userpostit/userpostit';
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
body {
    background: $body-background-color;
    // background: url("https://s-media-cache-ak0.pinimg.com/originals/ec/4b/fc/ec4bfc74107f40054417c5fa9f5b0163.jpg");
    margin: 0;
    padding: 7em 0 1em 0;
    .space {
        padding: 18px 0;
    }
    .emoji {
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      margin-top: -0.3em;
      background-size: contain;
  }
}

#theApp {
    min-height: 400px;
    display: block;
    height: auto;
    // max-height: 100%;
    background: white;
    padding: 1em;
    margin-bottom: 2em;
    #start,
    #game,
    #finish {
        background: white;
    }
    .highscores {
        border-left: solid 1px black;
    }
    .scoreListHighscore {
        font-weight: bold;
    }
    .teader {
        padding-bottom: 3em;
        margin-bottom: 1em;
        border-bottom: 1px;
        // height: 20px;
    }
    .headercontent {
        float: left;
    }
    .score {
        float: right;
    }
    .ranking {
        float: right;
    }
    .photo {
        position: relative;
        height: 100px;
        width: 100px;
        overflow: hidden;
        margin-top: 1em;
    }
    .names {
        // padding: 0 10px 5px 10px;
    }
    .userPhoto {
        position: absolute;
        left: 1em;
        top: 1em;
        width: 100%;
        height: auto;
    }
}
