// $icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
// endbower




/* Base */
@import "../base/variables";
@import "../base/mixins";
@import "../base/color-palette";

/* Bootstrap grid */


// Core variables and mixins
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pager";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/labels";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/wells";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";


/* Components */
@import '../components/button/button';
@import '../components/card/card';
@import '../components/header/header';
@import '../components/text-area/textArea';
@import '../components/text-input/textInput';
@import '../components/nav/nav';
@import '../components/nav-bar/navBar';
@import '../components/share-post/sharePost';



body {
  background: $body-background-color;
  margin: 0;
  padding: 0;
  .space {
    padding: 18px 0;
  }
  font-family: $text-color;  
    text-decoration: none;
    color: $text-color;
    line-height: 2.4em;
    font-size: .9em;
  }

  
}

