.avatar {
    display: inline-block;
    width: 5em;
    height: 5em;
    overflow: hidden;
    img {
        position: relative;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    &.round {
        border-radius: 50%;
    }
}

.avatar--small {
    // @extend .avatar;
    width: 3.4em;
    height: 3.4em;
}
