// -----------------------------------------------------------------------------
// Base input
// -----------------------------------------------------------------------------

.text-input {
    input {
        border: none;
        outline: none;
        // font-size: .9em;
        line-height: 1.6em;
        padding: .8em;
        margin: 0;
        width: 100%;
        // background: green;
        &:active {
            outline: none;
            border: none;
        }
        &:focus {
            outline: none;
            border: none;
        }
    }
    input::-webkit-input-placeholder {
        color: $grey;
        font-size: 16px;
        font-family: $font-family;
    }
    :focus::-webkit-input-placeholder {
        transition: all .2s;
        opacity: 0;
    }
    &.text-input__grey {
        input[type=text] {
            background: $grey--light;
        }
    }
}

.mytest {
    // margin-top: 1em;
    .inputMaterial {
        border: none;
        outline: none;
        // font-size: .9em;
        line-height: 1.6em;
        padding: 1em;
        margin: 0;
        width: 100%;
        background: $grey--light;
        border-bottom: 1px solid $grey;
        &inputMaterial:focus {
            outline: none;
        }
    }
    label {
        color: $grey--dark;
        font-weight: $font-weight--bold;
        position: absolute;
        pointer-events: none;
        margin-left: .5em;
        padding: .5em;
        bottom: 3em;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .icon {
        font-size: 1.6em;
        // line-height: 1.6em;
        vertical-align: bottom;
        // margin: 0 .4em 0 0;
        margin: 0 .2em -.4em 0;
        &.green {
            color: $green;
        }
        &.blue {
            color: $sec-blue;
        }
        &.red {
            color: $sec-red;
        }
        &.grey {
            color: $grey;
        }
        &.white {
            color: $white;
        }
    }
    /* active state */
    .inputMaterial:focus ~ label,
    .inputMaterial:valid ~ label {
        bottom: 3em;
        // font-size: .8em;
        color: $button-color--strict;
    }
    .inputMaterial:invalid ~ label {
        // bottom: 3.4em;
        // // font-size: .8em;
        // color: $sec-red;
    }
    .bar {
        position: relative;
        display: block;
        width: 100%;
    }
    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: -1px;
        position: absolute;
        background: $button-color--strict;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .bar:before {
        left: 50%;
    }
    .bar:after {
        right: 50%;
    }
    /* active state */
    .inputMaterial:focus ~ .bar:before,
    .inputMaterial:focus ~ .bar:after {
        width: 50%;
    }
    
}
.neu {
    div.error {
        position: absolute;
        color: $sec-red;
        right: 1em;
        top: -1.6em;

    }
}
