.user-post-it {
    padding: 15px;
    padding-bottom: 0;
    // background: $white;
    .user-post-it--meta {
        height: 6em;
        width: 100%;
        // border-bottom: 1px solid $grey;
        .postit-avatar {
            float: left;
            width: 6em;
        }
        .postit-author {
            float: left;
            width: 51%;
            font-size: $font-size--x-large;
            font-weight: $font-weight--bold;
        }
        .postit-timestamp {
            float: left;
            width: 51%;
            color: $grey;
        }
    }
    .user-post-it__content {
        height: auto;
        width: 100%;
        p {
            margin: 0;
        }
    }
    .user-post-it__action-bar {
        // height: auto;
        padding: .4em 0;
        // margin: 0 -.4em;
        width: 100%;
        a {
            // margin-top: .4em;
        }
    }
    .comment-author-avatar {
        float: left;
        width: 4em;
        height: 100%;
    }
    .comment--meta {
        float: left;
        width: 51%;
        .comment-author {
            font-weight: $font-weight--bold;
        }
        .comment-timestamp {
            color: $grey;
        }
    }
    .comment-content {
        float: left;
        width: 84%;
        p {
            margin-top: .4em;
            padding-bottom: 1em;
            border-bottom: 1px solid $grey;
        }
    }
}

.user-post-it-input {
    @extend .user-post-it;
    margin-top: -1.25em;
    padding-top: 0;
    padding-bottom: .4em;
    .comment__text-input {
        float: left;
        width: 60%;
        margin-top: .2em;
    }
    .comment__text-input-button {
        margin-top: .2em;
    }
}
