.app-block {
    display: inline-block;
    padding: 1em;
    width : 100%;
    height: auto;
    background: white;
    margin-bottom: 1em;
    border-radius: 2px;
}

.app-block--accent {
    @extend .app-block;
    background: $sec-blue--light;
}

.app-block--no-bg {
    @extend .app-block;
    background: rgba($white, .6);
    margin-top: -1em;

}
