<div class="{{class}}">
   <ul class="nav nav--horizontal">
   {{#each properties}}
        <li>{{> link2}}</li>
    {{/each}}
    {{#each button}} 
        {{> barButton }} 
    {{/each}}
    </ul>
</div>
