<div class="{{class}}">
   <ul class="nav nav--horizontal">
   {{#each properties}}
        <li class="pull-left">{{> link}}</li>
    {{/each}}
    {{!-- {{#appbarDropdown}}
    	{{> PartialDropdown }}
    {{/appbarDropdown}} --}}
    {{#each button}} 
        {{> PartialButton }} 
    {{/each}}

    </ul>
</div>
