// -----------------------------------------------------------------------------
// Base alert
// -----------------------------------------------------------------------------
.alert {
    display: block;
    position: relative;
    height: 4em;
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 2px;
    min-width: 30em;
    .alert-icon {
        float: left;
        line-height: 3em;
        .icon {
            font-size: $font-size--x-large;
            line-height: $font-size--xx-large;
            margin: .2em .4em 0 .5em;
        }
    }
    .title {
        padding: 0 .4em;
        float: left;
        line-height: 3em;
    }
    .message {
        float: left;
        line-height: 3em;
    }
    .alert-button {
        line-height: 3em;
        float: right;
        margin-top: -.2em;
    }
}

// -----------------------------------------------------------------------------
// Naked alerts
// -----------------------------------------------------------------------------

.naked-alert--happy {
    @extend .alert;
    @include naked-alert($alert-color--happy, $text-color);
}

.naked-alert--strict {
    @extend .alert;
    @include naked-alert($alert-color--strict, $text-color);
}

.naked-alert--angry {
    @extend .alert;
    @include naked-alert($alert-color--angry, $text-color);
}

// -----------------------------------------------------------------------------
// Solid alerts
// -----------------------------------------------------------------------------

.solid-alert--happy {
    @extend .alert;
    @include solid-alert($alert-color--happy, $alert-color__text);
}

.solid-alert--strict {
    @extend .alert;
    @include solid-alert($alert-color--strict, $alert-color__text);
}

.solid-alert--angry {
    @extend .alert;
    @include solid-alert($alert-color--angry, $alert-color__text);
}
