// -----------------------------------------------------------------------------
// Base alert
// -----------------------------------------------------------------------------
.alert {
    height: auto;
    padding: 1.5em 1.5em .8em 1.5em;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 2px;
    // overflow: hidden;
    .alert-icon {
        .icon {
            font-size: $font-size--x-large;
        }
    }
    .title {
        padding: 0 .4em 0 1em;
    }
    .message {
          padding-bottom: 1em;
    }
    .alert-button {
        button {
        padding-top: 0 !important;
      }
    }
}

// -----------------------------------------------------------------------------
// Naked alerts
// -----------------------------------------------------------------------------

.naked-alert--happy {
    @extend .alert;
    @include naked-alert($alert-color--happy, $text-color);
}

.naked-alert--strict {
    @extend .alert;
    @include naked-alert($alert-color--strict, $text-color);
}

.naked-alert--angry {
    @extend .alert;
    @include naked-alert($alert-color--angry, $text-color);
}

// -----------------------------------------------------------------------------
// Solid alerts
// -----------------------------------------------------------------------------

.solid-alert--happy {
    @extend .alert;
    @include solid-alert($alert-color--happy, $alert-color__text);
}

.solid-alert--strict {
    @extend .alert;
    @include solid-alert($alert-color--strict, $alert-color__text);
}

.solid-alert--angry {
    @extend .alert;
    @include solid-alert($alert-color--angry, $alert-color__text);
}
