// -----------------------------------------------------------------------------
// Base form
// -----------------------------------------------------------------------------
.form {
    // margin-top: 3em;
    .input-required {
        color: $text-color--soft;
        font-weight: $font-weight--regular;
    }
    .form__picker{
      padding-top: 2em;
      margin-bottom: -.5em;

      label {
          color: $grey--dark;
          font-weight: $font-weight--bold;
          position: relative;
          pointer-events: none;
          margin-left: .5em;
          padding: .5em;
          bottom: 6em;
          transition: 0.2s ease all !important;
          -moz-transition: 0.2s ease all !important;
          -webkit-transition: 0.2s ease all !important;
          display: block;

          span{
            margin-left: 0.5em;
          }
      }
      .error ~ label {
          bottom: 5em;
          color: $grey;
      }

      .selectric-wrapper{
        margin: 0.1em;
        display: inline-block;
      }

      li[data-index='0']{
        color: $grey!important;
      }
    }

    .form__input {
        padding-top: 2em;
        margin-bottom: -.5em;
        // padding-top: 2em;
        // background: tomato;

        .inputMaterial {
            border: none;
            outline: none;
            // font-size: .9em;
            line-height: 1.6em;
            padding: 1em;
            margin: 0;
            width: 100%;
            background: $grey--light;
            border-bottom: 1px solid $grey;
            &inputMaterial:focus {
                outline: none;
            }
            &[type=file] {

                // display: none;

            }
        }
        label {
            color: $grey--dark;
            font-weight: $font-weight--bold;
            position: relative;
            pointer-events: none;
            margin-left: .5em;
            padding: .5em;
            bottom: 5em;
            transition: 0.2s ease all !important;
            -moz-transition: 0.2s ease all !important;
            -webkit-transition: 0.2s ease all !important;
        }
        /* active state */
        .inputMaterial:focus ~ label,
        .inputMaterial:valid ~ label {
            bottom: 5em;
            // font-size: .8em;
            color: $button-color--neutral__text;
        }
        .error ~ label {
            bottom: 5em;
            // // font-size: .8em;
            color: $grey;
        }
        .bar {
            position: relative;
            display: block;
            width: 100%;
        }
        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: -1px;
            position: absolute;
            background: $button-color--strict;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        .bar:before {
            left: 50%;
        }
        .bar:after {
            right: 50%;
        }
        /* active state */
        .inputMaterial:focus ~ .bar:before,
        .inputMaterial:focus ~ .bar:after {
            width: 50%;
        }
    }
    div.error {
        float: right;
        margin: -.5em 0 .5em 0;
        color: $sec-red;
    }
    .form__link {
      margin-top: 2.2em;
    }
    .form__select {
        // display: inline-block;
        width: 100%;
        // float: left;
        margin-top: 2em;
        // margin-bottom: 1em;
        label {
            color: $grey--dark;
            font-weight: $font-weight--bold;
            position: relative;
            pointer-events: none;
            margin-left: .5em;
            width: 100%;
            padding: .5em;
            bottom: 5.2em;
            transition: 0.2s ease all !important;
            -moz-transition: 0.2s ease all !important;
            -webkit-transition: 0.2s ease all !important;
        }
        div.error {
            float: right;
            margin: -1.5em 0 0 0;
            color: $sec-red;
        }
        &:focus ~ label,
        &:valid ~ label {
            // bottom: 5em;
            // font-size: .8em;
            color: $button-color--strict;
        }
        .selectric {
            p.label {
              font-weight: normal;
            }
        }
        .selectric-wrapper {
          display: inline-block;
          width: 100%;
        }
    }
    .form__textarea {
        display: block;
        margin-top: 1em;
        margin-bottom: .5em;
        .inputMaterial {
            border: none;
            outline: none;
            resize: none;
            // font-size: .9em;
            line-height: 1.6em;
            padding: 1em;
            margin: 0;
            width: 100%;
            background: $grey--light;
            border-bottom: 1px solid $grey;
            &inputMaterial:focus {
                outline: none;
            }
        }
        label {
            color: $grey--dark;
            font-weight: $font-weight--bold;
            position: relative;
            pointer-events: none;
            margin-left: .5em;
            padding: .5em;
            bottom: .7em;
            transition: 0.2s ease all !important;
            -moz-transition: 0.2s ease all !important;
            -webkit-transition: 0.2s ease all !important;
        }
        /* active state */
        .inputMaterial:focus ~ label,
        .inputMaterial:valid ~ label {
            // bottom: 6.7em;
            // font-size: .8em;
            color: $button-color--neutral__text;
        }
        .error ~ span {
            // position: relative;
            // float: right;
            // top: -4.4em;
            // // font-size: .8em;
            // color: $grey;
        }
        .bar {
            position: relative;
            display: block;
            width: 100%;
        }
        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 3px;
            position: absolute;
            background: $button-color--strict;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        .bar:before {
            left: 50%;
        }
        .bar:after {
            right: 50%;
        }
        /* active state */
        .inputMaterial:focus ~ .bar:before,
        .inputMaterial:focus ~ .bar:after {
            width: 50%;
        }
        div.error {
            float: right;
            margin: -.5em 0 .5em 0;
            color: $sec-red;
        }
    }
    .form-button {
        margin-left: .5em;
    }
}
