// -----------------------------------------------------------------------------
// Base Button
// -----------------------------------------------------------------------------
.btn {
    display: inline-block;
    // margin: .2em 0 .2em 1em;
    line-height: $font-size--regular;
    font-size: $font-size--small;
    text-decoration: none;
    cursor: pointer;
    font-family: $button-font;
    border-radius: 2px;
    letter-spacing: 1px;
    // giving all buttons (exept first one) left margin
    &+& {
      margin-left: .5em;
      margin-right: 0;
      &.pull-right {
        margin-left: 0;
        margin-right: .5em;
      }
    }
  &.btn--loading {
    &:before {
      // content: url(/images/21.gif);
    }
  }
}


.border-left {
    border-left: 1px solid $grey--light !important;
}

.border-right {
    border-right: 1px solid $grey--light !important;
}

// -----------------------------------------------------------------------------
// Naked Buttons
// -----------------------------------------------------------------------------
.naked-button--neutral {
    @extend .btn;
    @include naked-button($button-color--neutral__text, $button-color--neutral__text);
}

.naked-button--happy {
    @extend .btn;
    @include naked-button($button-color--happy, $button-color--happy--accent);
}

.naked-button--strict {
    @extend .btn;
    @include naked-button($button-color--strict, $button-color--strict--accent);
}

.naked-button--angry {
    @extend .btn;
    @include naked-button($button-color--angry, $button-color--angry--accent);
}

.naked-button--icon {
    @extend .btn;
    // @include naked-button($button-color--angry);
}

.naked-button--icon-only--happy {
    @extend .btn;
    @include naked-button--icon-only($button-color--happy);
}

.naked-button--icon-only--strict {
    @extend .btn;
    @include naked-button--icon-only($button-color--strict);
}

.naked-button--icon-only--angry {
    @extend .btn;
    @include naked-button--icon-only($button-color--angry);
}
// -----------------------------------------------------------------------------
// Solid Buttons
// -----------------------------------------------------------------------------
.solid-button--neutral {
    @extend .btn;
    @include solid-button($button-color--neutral, $button-color--neutral--accent, $button-color--neutral__text);
    border: 1px solid $button-color--neutral--accent;
}

.solid-button--happy {
    @extend .btn;
    @include solid-button($button-color--happy, $button-color--happy--accent);
}

.solid-button--strict {
    @extend .btn;
    @include solid-button($button-color--strict, $button-color--strict--accent);
}

.solid-button--angry {
    @extend .btn;
    @include solid-button($button-color--angry, $button-color--angry--accent);
}

.button--scroll-to-top {
    position: fixed;
    right: 3em;
    bottom: 3em;
    display:none;
}

// .solid-button--icon {
//     @extend .btn;
//     @include solid-button($button-color--neutral,$button-color--neutral--accent);
// }
.icon-only {
    padding: .66em;

    // line-height: $font-size--large;

    // margin: 0 !important;

}

.app-block--buttons {
    height: 8.2em;
}

// button loader
.btn__loading-container {
  // margin-bottom: -.8em;
  height: 0;
  margin: .2em 0 -.2em 0;
}
.btn__loader {
  overflow: hidden;

/* ooo, css circles*/
.btn__loading-circle {
  display: inline-block;
  position: relative;
  // padding-top: 1em;
  /* key up the animations! */
  animation: btnloading 2.5s infinite;
}

.btn__loading-circle + .btn__loading-circle {
  margin-left: -25px;
  /* staggered effect cause by delay property */
  animation: btnloading 2.5s 0.2s infinite;
}

.btn__loading-circle + .btn__loading-circle + .btn__loading-circle {
  margin-left: -25px;
  animation: btnloading 2.5s 0.4s infinite;
}

.btn__loading-circle + .btn__loading-circle + .btn__loading-circle + .btn__loading-circle {
  margin-left: -25px;
  animation: btnloading 2.5s 0.6s infinite;
}

/* here be the animations matey! */
@keyframes "btnloading" {
  0%,20% {
    width: .6em;
    height: .6em;
    border-radius: 50%;
    left: -50%;
    background-color: rgba(0, 0, 0, 0);
  }

  20%,70% {
    width: .6em;
    height: .6em;
    border-radius: 50%;
    left: 0%;
    background-color: rgba($grey, .5);
  }

  80%,100% {
    width: .6em;
    height: .6em;
    border-radius: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0);
  }
}
}

// -----------------------------------------------------------------------------
// Button Size Modifiers
// -----------------------------------------------------------------------------
// .btn--full-width {
//   display: block;
//   width: 100%; // Ensure inputs also stretch full width
// }
// .btn--small {
//   +btn-font-size(13);
//   padding: 2px 14px;
// }
// // -----------------------------------------------------------------------------
// // Buttons font modifiers
// // -----------------------------------------------------------------------------
// .btn--caps {
//   text-transform: UPPERCASE;
// }
// // -----------------------------------------------------------------------------
// // Buttons with icons
// // -----------------------------------------------------------------------------
// .btn--icon-only {
//   @extend %image-replacement;
//   padding-left: 14px;
// }
// // -----------------------------------------------------------------------------
// // Button Colors
// // -----------------------------------------------------------------------------
// .btn {
//   &.is-disabled, &[disabled]
//     +btn-color($input-border, $lightgray, $subduedgray);
//     cursor: default;
//     opacity: .75;
// }
// .btn--linkblue {
//   +btn-color($linkblue);
// }
// .btn--yella {
//   +btn-color($yella, $body-copy);
// }
