// -----------------------------------------------------------------------------
// Base Button
// -----------------------------------------------------------------------------
.btn {
    display: inline-block;
    // margin: .2em 0 .2em 1em;
    line-height: 1em;
    font-size: .8em;
    text-decoration: none;
    cursor: pointer;
    font-family: $button-font;
    border-radius: 2px;
    letter-spacing: 1px;
   
}

.border-left {
    border-left: 1px solid $grey--light !important;
}

.border-right {
    border-right: 1px solid $grey--light !important;
}

// -----------------------------------------------------------------------------
// Naked Buttons
// -----------------------------------------------------------------------------
.naked-button--neutral {
    @extend .btn;
    @include naked-button($button-color--neutral__text, $button-color--neutral--accent);
}

.naked-button--happy {
    @extend .btn;
    @include naked-button($button-color--happy, $button-color--happy--accent);
}

.naked-button--strict {
    @extend .btn;
    @include naked-button($button-color--strict, $button-color--strict--accent);
}

.naked-button--angry {
    @extend .btn;
    @include naked-button($button-color--angry, $button-color--angry--accent);
}

.naked-button--icon {
    @extend .btn;
    // @include naked-button($button-color--angry);
}

.naked-button--icon-only--happy {
    @extend .btn;
    @include naked-button--icon-only($button-color--happy);
}

.naked-button--icon-only--strict {
    @extend .btn;
    @include naked-button--icon-only($button-color--strict);
}

.naked-button--icon-only--angry {
    @extend .btn;
    @include naked-button--icon-only($button-color--angry);
}
// -----------------------------------------------------------------------------
// Solid Buttons
// -----------------------------------------------------------------------------
.solid-button--neutral {
    @extend .btn;
    @include solid-button($button-color--neutral, $button-color--neutral--accent, $button-color--neutral__text);
    border: 1px solid $button-color--neutral--accent;
}

.solid-button--happy {
    @extend .btn;
    @include solid-button($button-color--happy, $button-color--happy--accent);
}

.solid-button--strict {
    @extend .btn;
    @include solid-button($button-color--strict, $button-color--strict--accent);
}

.solid-button--angry {
    @extend .btn;
    @include solid-button($button-color--angry, $button-color--angry--accent);
}

// .solid-button--icon {
//     @extend .btn;
//     @include solid-button($button-color--neutral,$button-color--neutral--accent);
// }
.icon-only {
    padding: .73em;


    // margin: 0 !important;

}

.app-block--buttons {
    height: 8.2em;
}

// -----------------------------------------------------------------------------
// Button Size Modifiers
// -----------------------------------------------------------------------------
// .btn--full-width {
//   display: block;
//   width: 100%; // Ensure inputs also stretch full width
// }
// .btn--small {
//   +btn-font-size(13);
//   padding: 2px 14px;
// }
// // -----------------------------------------------------------------------------
// // Buttons font modifiers
// // -----------------------------------------------------------------------------
// .btn--caps {
//   text-transform: UPPERCASE;
// }
// // -----------------------------------------------------------------------------
// // Buttons with icons
// // -----------------------------------------------------------------------------
// .btn--icon-only {
//   @extend %image-replacement;
//   padding-left: 14px;
// }
// // -----------------------------------------------------------------------------
// // Button Colors
// // -----------------------------------------------------------------------------
// .btn {
//   &.is-disabled, &[disabled]
//     +btn-color($input-border, $lightgray, $subduedgray);
//     cursor: default;
//     opacity: .75;
// }
// .btn--linkblue {
//   +btn-color($linkblue);
// }
// .btn--yella {
//   +btn-color($yella, $body-copy);
// }
