
<!-- Hier kan stub data komen voor weergave in de style guide en unit testing daar. Of zou zoiets in JSON kunnen? -->

<!-- knop 1 -->
        'class': 'btn',
        'id': 'dezeID',
        'name': 'gewone-knop',
        'type': 'button',
        'value': null,
        'content': 'klik mij joh'
<!-- knop 2  -->
        'class': 'btn .btn--positive',
        'id': 'formButton',
        'name': 'form-button',
        'type': 'submit',
        'value': 'knopData',
        'content': 'Share'
 <!-- knop 3  --> 
        'class': 'btn .btn--negative',
        'id': 'resetKnop',
        'name': 'reset-knop',
        'type': 'reset',
        'value': 'knopReset',
        'content': 'ieeee nee!'