.icon {
    [class^="icon-"],
    [class*=" icon-"] {
        height: 32px;
        width: 32px;
        display: inline-block;
        fill: currentColor;
    }
    display: inline-block;
    .green {
        fill: $green;
    }
    .blue {
        fill: $sec-blue;
    }
    .red {
        fill: $sec-red;
    }
    .grey {
        fill: $grey;
    }
    .white {
        fill: $white;
    }
}
