{{#if styleguide}}
	<div class="row">{{#each icons}}<div class="col-xs-9 col-sm-6 col-md-4"><div class="app-block icon">{{>PartialIcon}}</div></div>{{/each}}</div>
{{else}}
	{{#each icons}} {{>PartialIcon}} {{/each}}
{{/if}}
