.post-it__action-bar {
    .post-it__actions {
        // height: auto;
        padding: .4em 15px;
        // margin: 0;
        width: 100%;
        background: $white;
        a {
            // margin-top: .4em;
        }
    }
    .post-it__comments {
        // background: yellow;
        .comment-author-avatar {
            float: left;
            width: 4em;
            // height: 100%;
        }
        .comment--meta {
            float: left;
            width: 51%;
            .comment-author {
                font-weight: $font-weight--bold;
            }
            .comment-timestamp {
                color: $grey;
            }
        }
        .comment-content {
            float: left;
            width: 84%;
            margin: 0;
            p {                
                margin-top: .4em;
                padding-bottom: 1em;
                border-bottom: 1px solid $grey;
            }
        }
        .post-it__input-field {
            // margin-top: -.2em;
            // padding-bottom: 1em;

            padding-top: .6em;
            padding-bottom: .4em;
            .comment__text-input {
                float: left;
                width: 60%;
                // margin-top: .2em;
            }
            .comment__text-input-button {
                // margin-top: .2em;
            }
        }
    }
}
