.card {
    padding: 1em;
    height: auto;
    width: 100%;
    background-color: white;
}

.card__body {
    // padding-left: 84px;
}

.card__thumbnail {
    width: 80px;
    margin-top: 1em;
    // float: left;
}

.card__person {
    // width: 100px;
    // float: left;
    // padding-left: 1em;
    // margin: 0;

}