<div class="{{class}}" id="{{id}}">
    {{#properties}} {{#if thumbnail}}
    <img src="{{> theThumbnail}}" alt="profile picture" class="card__thumbnail" id="foto"> {{/if}} {{#if title}}
    <h3 class="card__person" id="naam">{{> theTitle}}</h3> {{/if}} {{#if copy}}
    <p class="">{{> theCopy}}</p>
    {{/if}} {{/properties}}
</div>
