// -----------------------------------------------------------------------------
// Base app-bar
// -----------------------------------------------------------------------------
.app-bar {
    display: block;
    // height: 4em;
    padding: .5em;
    margin-bottom: 1em;
    background: $white;
    .innerContainer {
    	// height: auto;
    	// position: relative;
    	// float: left;
    	// margin: 0 auto;
    	
    }
}