// -----------------------------------------------------------------------------
// Base app-bar
// -----------------------------------------------------------------------------
.app-bar {
    display: block;
    min-height: 4em;
    max-height: 8em;
    padding: .6em;
    margin-bottom: 1em;
    background: $white;
    overflow: hidden;
    .innerContainer {
    	height: auto;
    	position: relative;
    	// float: left;
    	margin: 0 auto;

    }
}
