<div class="app-bar {{class}}">
   <ul class="nav nav--horizontal">
   {{#each navItems}}
        <li class="pull-left">{{> PartialNavItem}}</li>
    {{/each}}
    {{!-- {{#appbarDropdown}}
    	{{> PartialDropdown }}
    {{/appbarDropdown}} --}}
    {{#each button}} 
        {{> PartialButton }} 
    {{/each}}

    </ul>
</div>
