<div class="app-bar {{class}}">
<div class="innerContainer">
   <div class="nav nav--horizontal">
   {{#each navItems}}
      {{> PartialNavItem}}
    {{/each}}
    {{#each button}}
        {{> PartialButton }}
    {{/each}}
    </div>
</div>
</div>
<script type="text/javascript">
$('.nav--horizontal li a').on( "click", function() {
  $(this).parent().siblings().children().removeClass('nav--active');
  $(this).addClass('nav--active');
});
</script>
