<div class="app-bar {{class}}">
  <div class="innerContainer">
    <div class="nav nav--horizontal">
      {{#each navItems}}
        {{> PartialNavItem}}
      {{/each}}
      {{#each button}}
        {{> PartialButton }}
      {{/each}}
    </div>
  </div>
</div>
<script type="text/javascript">
  var activator = function() {
    function checkIfActiveUrl(appbarLink) {
      if ($(location).attr('pathname') == appbarLink) {
        activateMe.addClass('nav--active');
        activateMe.parent().siblings().children().removeClass('nav--active');
      }
    };
    var appbarLinks = $('.nav--horizontal li a');
    var activateMe;
    appbarLinks.each(function() {
      activateMe = $(this);
      var thisLink = $(this).attr('href');
      checkIfActiveUrl(thisLink);
    });
  }();
  $('.nav--horizontal li a').on("click", function() {
    $(this).parent().siblings().children().removeClass('nav--active');
    $(this).addClass('nav--active');
  });
</script>
