<div class="app-bar {{class}}">
   <div class="nav nav--horizontal">
   {{#each navItems}}
        <li>{{> PartialNavItem}}</li>
    {{/each}}
    {{!-- {{#appbarDropdown}}
    	{{> PartialDropdown }}
    {{/appbarDropdown}} --}}
    {{#each button}} 
        {{> PartialButton }} 
    {{/each}}

    </div>
</div>
