<div class="app-bar {{class}}">
<div class="innerContainer">
   <div class="nav nav--horizontal">
   {{#each navItems}}
      {{> PartialNavItem}}
    {{/each}}
    {{#each button}}
        {{> PartialButton }}
    {{/each}}
    </div>
</div>
</div>
