.nav {
    // @extend .card;
    // margin: 1em 0 0 0;
    padding: 0;
    li {
        background: white;
        :focus {
            outline: none;
        }
        a {
            text-decoration: none;
            // font-family: $mrwatson-headers;
            color: $text-color;
            line-height: 2.4em;
            font-size: .9em;
        }
    }
    .nav-title {
        line-height: 3.8em;
        padding: 1em;
        color: $sec-grey;
        font-family: $button-font;
    }
}

.nav--horizontal {
    margin: 0;
    li {
        float: right;
    }
}

.nav--active {
    border-bottom: 3px solid $grey--light;
    color: red;
}
