.fixed-nav {
    position: fixed;
}

.nav {
    padding: 0;
    background: none;
    max-width: 20em;
    li {
        background: white;
        :focus {
            outline: none;
            // background: green;
        }
        &.nav__action-bar__button {
            padding-left: .3em;
        }
        &.first {
            padding-top: .6em;
        }
        &.last {
            padding-bottom: .6em;
        }
        a {
            vertical-align: top;
            text-decoration: none;
            color: $text-color;
            line-height: 1.4em;
            font-size: $font-size--regular;
            &:focus {
                background: $grey--light;
            }
            &:hover {
                // background: $grey--light;
            }
            &:active {
                // background: $grey--light;
                background: $grey;
            }
        }
    }
    .nav-title {
        display: block;
        font-weight: 100;
        background: rgba($white, .6);
        padding: 1em;
        font-size: $font-size--large;
        line-height: 1.15em;
        color: $text-color;
        font-family: $button-font;
        cursor: default;
        .nav-title__icon {
            float: left;
            padding-right: .4em;
            font-size: $font-size--large;
            line-height: $font-size--large;
        }
        .nav-title__button {
            margin: -.77em -.5em 0 0;
            font-size: $font-size--small;
            .naked-button--neutral,
            .naked-button--strict,
            .naked-button--happy,
            .naked-button--angry {
                margin-top: -.1em;
                font-size: $font-size--regular;
            }
        }
    }
    .sub-title {
        @extend .nav-title;
        background: $white;
        .category {
            font-weight: bold;
        }
        margin-bottom: -.6em;
    }
    .icon {
        font-size: 1.6em;
        // line-height: 1.4em;
        vertical-align: bottom;
        padding: .2em;
        margin-bottom: -.4em;
        &.green {
            color: $green;
        }
        &.blue {
            color: $sec-blue;
        }
        &.red {
            color: $sec-red;
        }
        &.grey {
            color: $grey;
        }
        &.white {
            color: $white;
        }
        &:hover {
            // border-radius: 50% 50% 0 0;
            // transition: all .5;
            background: $green--light;
        }
    }
    .community-switch {
        height: 4.5em;
        color: white;
        padding: 1.1em;
        // margin-bottom: .5em;
        box-shadow: inset 0 0 0 3em rgba($grey--dark, .5);
        .community-switch-name {
            font-family: $font-family;
            font-weight: 100;
            color: white;
            font-size: $font-size--x-large;
        }
        .icon {
            font-size: $font-size--regular;
            float: right;
            margin: .3em -.2em 0 0;
        }
    }
}

.nav--horizontal {
    max-width: 100%;
    li {
        display: inline-block;
        a {
            // line-height: 2em;
            padding: .6em 0 .2em 0;
            margin: 0 1em;
            &:hover {
                background: none;
                border-bottom: .2em solid $border-color--accent;
                margin-bottom: -.2em;
            }
            &:active {
                background: none;
            }
            &:focus {
                background: none;
            }
        }
        .divider {
            &:after {
                content: "";
                // font-size: 2em;
                padding-left: 1em;
                // margin-top: .4em;
                // padding-bottom: 0;
                margin-right: -1em;
                border-right: .1em solid $grey;
            }
        }
    }
}

.nav--active {
    border-bottom: .2em solid $border-color--accent;
    // box-shadow:inset 0px 0px 0px .2em $border-color--accent;
}
.side-nav--active {
    background: $grey--light;
}
