<div class="nav app-block" id="{{id}}">
{{#if communitySwitch}}
	{{#each navCommunities}}
		{{>PartialCommunitySwitch}}
	{{/each}}
	{{!-- {{>PartialIcon}} --}}
{{/if}}
{{#if title}}
<div class="nav-title">
	{{navTitle}}
{{#if button}}
	<div class="nav-title__button pull-right">{{>PartialButton}}</div>
{{/if}}
</div>
{{/if}}
	<li class="first"></li>
	{{#each navItems}}
		{{>PartialNavItem}}
	{{/each}}
{{#if navActionBar}}
	{{#navActionBarButtons}}
		<li class="nav__action-bar__button">{{>PartialButton}}</li>
	{{/navActionBarButtons}}
{{/if}}
	<li class="last"></li>
</div>