<div class="nav app-block {{class}}" id="{{id}}">
{{#if communitySwitch}}
	{{#each navCommunities}}
		{{>PartialCommunitySwitch}}
	{{/each}}
	{{!-- {{>PartialIcon}} --}}
{{/if}}
{{#if title}}
	<span class="nav-title">{{navTitle}}</span>
{{/if}}
	{{#each navItems}}
		<li>{{> PartialNavItem}}</li>
	{{/each}}
</div>