
			<div class="app-block {{class}}">
			<div class="col-xs-12">
				 {{#each composerTextInput}} {{> PartialTextInput }} {{/each}}
			</div>
			<div class="col-xs-12">
			<p></p>
				{{#if button}} {{#each button}} {{> PartialButton }} {{/each}} {{/if}}
			</div>
			</div>	

	
