
			<div class="app-block composer">
			<div class="col-xs-12">
				 {{#input}} {{> PartialTextInput }} {{/input}}
			</div>
			<div class="col-xs-12">
			<p></p>
				{{#if buttons}} {{#each buttons}} {{> PartialButton }} {{/each}} {{/if}}
			</div>
			</div>	

	
