<div class="app-block composer">
	<div class="col-xs-12">
		<div class="avatar-span">{{> PartialAvatar }}</div>
		<div class="input-span">{{#input}} {{> PartialTextarea }} {{/input}}</div>
	</div>
	<div class="col-xs-12">
		<div class="button-span">
			{{> PartialButton class="naked-button--strict" icon="icon-naked-camera"}}
			{{#if buttons}} {{#each buttons}} {{> PartialButton }} {{/each}} {{/if}}
		</div>
	</div>
</div>
<script>
$(document).one('focus.textarea', '.autoExpand', function(){
	var savedValue = this.value;
	this.value = '';
	this.baseScrollHeight = this.scrollHeight;
	this.value = savedValue;
	}).on('input.textarea', '.autoExpand', function(){
		var minRows = this.getAttribute('data-min-rows')|0,
			 rows;
		this.rows = minRows;
    // console.log(this.scrollHeight, this.baseScrollHeight);
		rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 17);
		this.rows = minRows + rows -1;
	});
</script>	

