.color-block {
    display: inline-block;
    margin: 0 1em 0 0;
    text-align: center;
    .shape {
        @include border-radius(.4em);
        position: relative;
        padding: 7em;
        margin: 0;
        &.shape-small {
            padding: 3em 7em;
        }
        .shade-light {
            -webkit-border-radius: 0 0 0 .4em;
            -moz-border-radius: 0 0 0 .4em;
            -ms-border-radius: 0 0 0 .4em;
            border-radius: 0 0 0 .4em;
            position: absolute;
            text-align: center;
            padding: 2em;
            margin: 0;
            bottom: 0;
            width: 50%;
            left: 0;
        }
        .shade-dark {
            -webkit-border-radius: 0 0 .4em 0;
            -moz-border-radius: 0 0 .4em 0;
            -ms-border-radius: 0 0 .4em 0;
            border-radius: 0 0 .4em 0;
            position: absolute;
            text-align: center;
            padding: 2em;
            margin: 0;
            bottom: 0;
            width: 50%;
            right: 0;
        }
    }
    .body-background-color {
        background: $body-background-color;
        box-shadow: inset 0px 0px 0px 3px $border-color;
    }
    .block-background-color {
        background: $block-background-color;
    }
    .border-color {
        background: $border-color;
    }
    .border-color--accent {
        background: $border-color--accent;
    }
    .button-color__text {
        background: $button-color__text;
    }
    .button-color--neutral {
        background: $button-color--neutral;
    }
    .button-color--neutral--accent {
        background: $button-color--neutral--accent;
    }
    .button-color--neutral__text {
        background: $button-color--neutral__text;
    }
    .button-color--happy {
        background: $button-color--happy;
    }
    .button-color--happy--accent {
        background: $button-color--happy--accent;
    }
    .button-color--strict {
        background: $button-color--strict;
    }
    .button-color--strict--accent {
        background: $button-color--strict--accent;
    }
    .button-color--angry {
        background: $button-color--angry;
    }
    .button-color--angry--accent {
        background: $button-color--angry--accent;
    }
    .text-color {
        background: $text-color;
    }
    .text-color--accent {
        background: $text-color--accent;
    }
    .header-color {
        background: $header-color;
    }
    .header-color--accent {
        background: $header-color--accent;
    }
    .link-color {
        background: $link-color;
    }
    .green {
        background-color: $green;
        .shade-light {
            background: $green--light;
            box-shadow: inset 0px 0px 0px 3px $border-color;
        }
        .shade-dark {
            background: $green--dark;
        }
    }
    .white {
        background-color: $white;
    }
    .grey {
        background: $grey;
        .shade-light {
            background: $grey--light;
        }
        .shade-dark {
            background: $grey--dark;
        }
    }
    .sec-red {
        background: $sec-red;
        .shade-light {
            background: $sec-red--light;
        }
        .shade-dark {
            background: $sec-red--dark;
        }
    }
    .sec-blue {
        background: $sec-blue;
        .shade-light {
            background: $sec-blue--light;
        }
        .shade-dark {
            background: $sec-blue--dark;
        }
    }
    .sec-grey {
        background: $sec-grey;
        .shade-light {
            background: $sec-grey--light;
        }
        .shade-dark {
            background: $sec-grey--dark;
        }
    }
}
