//Handy links
//http://davidwalsh.name/sass-color-variables-dont-suck
//http://chir.ag/projects/name-that-color/#6195ED


// ================================
// Color
// ================================

// -----------------------------------------------------------------------------
// Primary Palette // DO NOT CALL THESE DIRECTLY, USE UI COLORS INSTEAD
// -----------------------------------------------------------------------------

$green			: #4AB75F;
$green--light	: lighten($green, 44%);
$green--dark	: darken($green, 10%);
$white			: #FFFFFF;
$grey			: #DEDEDE;
$grey--light 	: lighten($grey, 9%);
$grey--dark 	: darken($grey, 56%);

// -----------------------------------------------------------------------------
// Secundairy Palette // DO NOT CALL THESE DIRECTLY, USE UI COLORS INSTEAD
// -----------------------------------------------------------------------------

$sec-blue			: #6699CC;
$sec-blue--light	: lighten($sec-blue, 30%);
$sec-blue--dark		: darken($sec-blue, 10%);
$sec-red			: #DA4747;
$sec-red--light		: lighten($sec-red, 10%);
$sec-red--dark		: darken($sec-red, 10%);


// -----------------------------------------------------------------------------
// UI colors - BACKGROUNDS
// -----------------------------------------------------------------------------

$body-background-color			: $green--light;
$block-background-color			: $white;
$block-background-color--accent	: $grey--light;
$border-color					: $grey--dark;
$border-color--accent			: $green;  

// -----------------------------------------------------------------------------
// UI colors - BUTTONS
// -----------------------------------------------------------------------------

$button-color__text					: $white;

$button-color--neutral				: $white;
$button-color--neutral--accent		: $grey;
$button-color--neutral__text		: $grey--dark;

$button-color--happy				: $green;
$button-color--happy--accent		: $green--dark;

$button-color--strict				: $sec-blue;
$button-color--strict--accent		: $sec-blue--dark;

// $button-color--scary__background	: $sec-yellow?;

$button-color--angry				: $sec-red;
$button-color--angry--accent		: $sec-red--dark;

// -----------------------------------------------------------------------------
// UI colors - ALERTS
// -----------------------------------------------------------------------------

$alert-color__text					: $white;

$alert-color--neutral				: $white;
$alert-color--neutral--accent		: $grey;
$alert-color--neutral__text			: $grey--dark;

$alert-color--happy					: $green;
$alert-color--happy--accent			: $green--dark;

$alert-color--strict				: $sec-blue;
$alert-color--strict--accent		: $sec-blue--dark;

// $alert-color--scary__background	: $sec-yellow?;

$alert-color--angry					: $sec-red;
$alert-color--angry--accent			: $sec-red--dark;

// -----------------------------------------------------------------------------
// UI colors - NAVIGATION
// -----------------------------------------------------------------------------

$divider-color		: $grey--light;


// ================================
// Type
// ================================

// -----------------------------------------------------------------------------
// Type - COLOR
// -----------------------------------------------------------------------------

$text-color				: $grey--dark;
$text-color--accent		: $green;

$header-color			: $grey--dark;
$header-color--accent	: $green;

$link-color				: $sec-blue--dark;
$link-color--accent		: $sec-blue;


// -----------------------------------------------------------------------------
// Type - FAMILY
// -----------------------------------------------------------------------------

// @font-face {
//     font-family 		: Azo-Sans-Regular;
//     src 				: url('../fonts/Azo-Sans-Regular.otf');
// }

// $button-font: 'Azo-Sans-Regular';
// $mrwatson-font: 'Source Sans Pro';

$font-family			: 'Source Sans Pro', sans-serif;
// $font-family--special	: 'Roboto', sans-serif;

$button-font			: 'Source Sans Pro', sans-serif;
$alert-font				: 'Source Sans Pro', sans-serif;
//todo: mixin for browser compatibility
// $font-size				: .9em; 

// -----------------------------------------------------------------------------
// Type - WEIGHT
// -----------------------------------------------------------------------------

$font-weight--light		: 300;
$font-weight--regular	: 400;
$font-weight--bold		: 600;

// -----------------------------------------------------------------------------
// Type - SIZE
// -----------------------------------------------------------------------------

//todo: mixin for browser compatibility
$font-size--small		: 0.9em;
$font-size--regular		: 1em;
$font-size--large		: 1.1em;
$font-size--x-large		: 1.4em;
$font-size--xx-large	: 2em;
$font-size--xxx-large	: 2.7em;

$line-height			: $font-size--large;



// ================================
// UI-elements
// ================================

// -----------------------------------------------------------------------------
// UI-elements - BLOCKS
// -----------------------------------------------------------------------------

$block-padding			: .4em;

