// -----------------------------------------------------------------------------
// Base share-post
// -----------------------------------------------------------------------------
.share-post {
    background: white;
    // line-height: 1.4em;
    padding: .5em;
    border-top: 3px solid $primary-color;
}