// -----------------------------------------------------------------------------
// Base share-post
// -----------------------------------------------------------------------------
.share-post {
    background: white;
    // line-height: 1.4em;
    padding: 1em;
    border-top: 3px solid $border-color--accent;
}