
	
		<div class="row {{class}}">	
			<div class="col-xs-12">
				{{#if input}} {{#each text-input}} {{> partialTextInput }} {{/each}}{{/if}}
			</div>
			<div class="col-xs-12">
				{{#if button}} {{#each button}} {{> partialButton }} {{/each}} {{/if}}
			</div>
		</div>
	
