		<div class="row {{class}}">	
			<div class="col-xs-12">
				 {{#each sharePostTextInput}} {{> PartialTextInput }} {{/each}}
			</div>
			<div class="col-xs-12">
			<p></p>
				{{#if button}} {{#each button}} {{> PartialButton }} {{/each}} {{/if}}
			</div>
		</div>
	
