<div class="row">
	<div class="{{bs-class}}">
		<div class="{{class}}">	
			{{#if input}} {{#each input}} {{> partialInput }} {{/each}} {{/if}}
			{{#if button}} {{#each button}} {{> partialButton }} {{/each}} {{/if}}  
		</div>
	</div>
</div>