// -----------------------------------------------------------------------------
// Base dropdown
// -----------------------------------------------------------------------------
.dropdown {
    display: inline-block;
    list-style-type: none;
    cursor: default;
    color: $text-color;
    padding: 1em;
    margin: -.4em 0;
    background: white;
    &:hover {
        background: $grey--light;         
    }
    &:active, &.dropdown--active {
        background: $grey;
        .dropdown-badge {
            // display: none;
    }
    }
    i {
        display: inline-block;
        font-size: 1.4em;
        line-height: 1em;


        // left: -.2em;
        // top: .16em;
        &.dropdown-icon {
            position: relative;
            margin: 0;
            // top: .15em;
            // padding: .3em;
        }
    }
    .drop-nav {
        list-style-type: none;
        position: absolute;
        display: none;
        width: 10em;
        right: 0;
        overflow: hidden;
        background: white;
        border: 2px solid $grey;
    }
    .divider {
        border-bottom: 2px solid $divider-color;
    }
    .dropdown-badge {
        position: absolute;
        right: .3em;
        top: .3em;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.6em;
        text-align: center;
        background: $sec-blue;
        color: $white;
        overflow: hidden;
        height: 1.7em;
        width: 1.7em;
        border-radius: 50%;
    }
}
