// -----------------------------------------------------------------------------
// Base dropdown
// -----------------------------------------------------------------------------
.dropdown {
    display: inline-block;
    list-style-type: none;
    cursor: default;
    color: $text-color;
    padding: 1.2em 1em 1em .8em;
    margin: -.2em 0;
    // background: white;
    &:hover {
        background: $grey--light;
    }
    &:active,
    &.dropdown--active {
        background: $grey;
        .dropdown-badge {
            // display: none;
        }
    }
    i {
        display: inline-block;
        font-size: 1.4em;
        line-height: 1em;
        vertical-align: middle;
        // padding-top: .5em;
        // left: -.2em;
        // top: .16em;
        &.dropdown-icon {
            vertical-align: bottom;
            // position: absolute;
            // top: .15em;
            margin-top: .3em;
        }
    }
    .dropdown-item {
      display: inline-block;
      vertical-align: middle;
      margin-top: -.2em;
      padding-right: .4em;
      h4 {
        margin: 0;
      }
      // font-size: 1.4em;
      // line-height: 1.4em;
      // padding: 1em;
      // margin-top: -.2em;
    }
    .drop-nav {
        list-style-type: none;
        position: absolute;
        display: none;
        width: 11em;
        right: 0;
        overflow: hidden;
        background: white;
        border: 2px solid $grey;
        z-index: 9999999;
        &.drop-nav--right {
          left: 0;
        }
    }
    .option-catagory {
      padding: 1em 1em .5em 1em;
      // font-style: italic;
      font-weight: 600;
      color: $grey;
      border-top: 2px solid $divider-color;      
    }
    .divider {
        border-bottom: 2px solid $divider-color;
    }
    .divider--top {
        border-top: 2px solid $divider-color;
    }
    .dropdown-badge {
        position: absolute;
        right: .3em;
        top: .3em;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.6em;
        text-align: center;
        background: $sec-blue;
        color: $white;
        overflow: hidden;
        height: 1.7em;
        width: 1.7em;
        border-radius: 50%;
    }
}
