<ul class="nav">
<li class="dropdown {{class}}" id="dropdown">
{{dropdownItem}}
	<ul class="nav drop-nav">
		{{#each dropdownOptions}}{{> pDropdownOptions }}{{/each}}
	</ul>
</li>
</ul>
<script>{{script}}</script>
