<div class="nav">

<li class="dropdown {{class}}">
{{item}}
	<ul class="nav drop-nav">
		{{#each options}}{{> pDropdownOptions }}{{/each}}
	</ul>
</li>

</div>

<script> 
	$('li.dropdown').click(function(event) {
		event.stopPropagation();
		$(this).toggleClass('drop-nav-active');
        });
    $(document).click(function() {
        $('li.dropdown').removeClass('drop-nav-active');
    	});
</script>