// -----------------------------------------------------------------------------
// Base dialog
// -----------------------------------------------------------------------------
.dialog {
    display: inline-block;
    position: relative;
    width: 32em;
    height: auto;
    padding: 4em 4em 1em 4em;
    background: white;
    box-shadow: 0 0 1em $grey;
    .dialog-icon {
        margin-right: -30px;
        .icon {
            font-size: $font-size--xxx-large;        
        }
    }
    .dialog-title {
        font-size: $font-size--large;
    }
    .dialog-message {
        padding: .2em 0 2em 0;
    }
    .dialog-actions {
        button {
            font-size: $font-size--regular;
        }
    }
}

.dialog--angry {
    @extend .dialog;
    @include dialog($button-color--angry);
}
.dialog--strict {
    @extend .dialog;
    @include dialog($button-color--strict);
}

