// -----------------------------------------------------------------------------
// Base input
// -----------------------------------------------------------------------------
input[type=text] {
    border: none;
    outline: none;
    line-height: 1.6em;
    padding: 1em;
    margin: 1em;
    width: 100%;
    // background: white;
    &:active {
        outline: none;
        border: none;
    }
    &:focus {
        outline: none;
        border: none;
    }

}
    #input__header {
        background: $grey;
        // position: relative;
        // width: 50%;
       
    
    }
