// -----------------------------------------------------------------------------
// Base textArea
// -----------------------------------------------------------------------------
.text-area {
    textarea {
        resize: vertical;
        border: none;
        outline: none;
        max-height: 400px;
        line-height: 1.6em;
        padding: 1em;
        // margin: 1em;
        width: 100%;
        // background: white;
        }
        
        &:active {
            outline: none;
            border: none;
        }
        &:focus {
            outline: none;
            border: none;
        }
        textarea::-webkit-input-placeholder{
          color: $grey;
          font-size: 16px;
          font-family: $font-family;
        }
    :focus::-webkit-input-placeholder{
      transition: all .2s;
      opacity: 0;
    }
    }


.text-area-label {

.inputMaterial {
  padding: 1em;
  width:100%;
  border:none;
  // border-bottom:1px solid $sec-grey--light;
}

.inputMaterial:focus {outline:none;}

label {
  color: $grey;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  // left:5px;
  padding: .5em;
  bottom: 0;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label      {
  color: $green;
  bottom:1.8em;
  font-size:.9em;
}

.bar    { position:relative; display:block; width:100%; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: $text-color--accent;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}



}
